.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.rubik-medium {
  font-family: "rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
}

*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: ease-in-out 200ms;
}

body {
  background: #39289f;
  background-image: linear-gradient(0px #39289f 0%, #422f9c 100%);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: white;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  text-align: center;
}

button:hover {
  transform: scale(1.1);
}

.logo {
  font-size: 29px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 95px;
  width: 100%;
  height: 12vh;
  position: fixed;
  background-color: linear-gradient(#39289f, #39289f);
  z-index: 1;
  flex-wrap: wrap;
}

header > div {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 70px;
}

ul {
  list-style: none;
}

.headerOptions {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 80px;
  position: relative;
  flex-wrap: wrap;
}

.headerOptions .underBar {
  position: absolute;
  content: "";
  width: 31px;
  height: 4px;
  background-color: #dc7000;
  bottom: 0;
  transform: translate(-6px, 14px);
}

.contactUs {
  padding: 11px 30px;
  border-radius: 6px;
  background-color: #fa9021;
  font-size: 13px;
  color: white;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

section {
  padding: 0 10%;
}

.introduction {
  display: flex;
  padding-bottom: 125px;
}

.text1 {
  margin-top: 24vh;
  width: 50%;
  padding-bottom: 10vh;
  width: 40%;
}

.prodesigner {
  font-size: 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #e87d0e;
  padding-bottom: 17px;
}

.introduction .text1 h2 {
  font-size: 50px;
  padding-bottom: 26px;
}

.legend1 {
  line-height: 200%;
  font-size: 16px;
  padding-bottom: 50px;
}

.btnDetails {
  background-image: linear-gradient(to bottom right, #fa8305 0%, #fb9e3c 100%);
  padding: 15px 30px;
  background-size: 200% auto;
  color: white;
  border-radius: 40px;
  font-size: 16px;
}

.images {
  width: 50%;
  position: relative;
}
.images img {
  transform: translate(-50%, -50%);
  position: absolute;
}

.joystick {
  top: 50%;
  transform: translateX(15%);
  width: 100%;
  height: fit-content;
}

@media only screen and (max-width: 1200px) {
  .joystick {
    display: none;
  }
  .introduction .text1 {
    width: 80%;
  }
}

.gameSection {
  display: flex;
  flex-direction: column;
  gap: 57px;
  padding-bottom: 125px;
}

.trendingGames {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 31px;
}

.btnGames {
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 30px;
  color: white;
  background-color: rgba(255, 255, 255, 0.11);
}

.galery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}

.galery .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.gameSection .galery .card > img:hover {
  transform: scale(1.1);
}

.gameTitle {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 9px;
}

h4 {
  font-size: 30px;
  padding-bottom: 32px;
}

.text2 {
  font-size: 16px;
}

.spiderManSection {
  display: flex;
  flex-direction: column;
  gap: 67px;
  padding-bottom: 125px;
}

.spiderManSection h3 {
  align-self: center;
  text-align: center;
  font-size: 35px;
  width: 65%;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 43%;
}

.imageContent {
  width: 100%;
  padding-bottom: 8%;
}

.imageContent .spiderImage {
  width: 100%;
}

.imageContent .dots {
  position: absolute;
  transform: translate(-50%, -43%);
  right: 15%;
  width: 200px;
  z-index: -1;
}

.developmentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/mainPage/section4/background.png");
  background-size: 100%;
  background-size: cover;
  background-position: center;
  padding: 10%;
}

.developmentSection .text {
  width: 70%;
  text-align: center;
}
.developmentSection h2 {
  font-size: 30px;
  padding-bottom: 16px;
}

.developmentSection .poppins-medium {
  font-size: 16px;
}

.textDevelopment {
  align-self: center;
  font-size: 16px;
  padding-bottom: 100px;
}

.developmentSection .galery {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.differentBackground {
  background-image: linear-gradient(to bottom right, #3c2a9e 0%, #3b2a9f 100%);
}

.projectsSection {
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsSection .textContent {
  width: 40%;
  text-align: center;
}

.projectsSection .textContent h2 {
  font-size: 30px;
  padding-bottom: 15px;
}

.projectsSection .textContent p {
  font-size: 14px;
  padding-bottom: 10%;
}

.gridGallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 5%;
}

.btnProjects {
  font-size: 20px;
  border-radius: 10px;
  padding: 15px 30px;
  color: white;
  background-color: rgba(255, 255, 255, 0.11);
}

.newsEmail {
  padding-bottom: 10%;
}

.newsEmail .text {
  width: 50%;
}
.newsEmail .text .title {
  font-size: 30px;
  padding-bottom: 3%;
}

.newsEmail .text .legend {
  font-size: 16px;
  padding-bottom: 13%;
}

.emailContainer {
  background-color: #1c140f;
  border-radius: 15px;
  padding: 3% 4%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
}

.emailContainer .text {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.emailAdress {
  background-color: white;
  padding: 14px 20px 14px 0px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 4px;
}

#emailInput {
  padding-left: 20px;
  color: #898989;
  border: none;
  display: flex;
  flex-direction: column;
  outline: none;
  width: 270px;
}

.btnEmail {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #dc7000;
  border-radius: 8px;
  padding: 9px 18px;
  text-align: center;
  align-items: center;
  width: 110px;
}

footer {
  background-color: #070707;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.upFooter {
  padding: 80px 100px 60px;
  display: flex;
  align-items: top;
  justify-content: space-between;
  flex-wrap: wrap;
}

.upFooter .logo {
  width: 25%;
}

.upFooter .logo h2 {
  font-size: 24px;
  padding-bottom: 15px;
}

.upFooter .logo p {
  font-size: 16px;
}

.atSign {
  padding-top: 25px;
}

.upFooter .about {
  width: 7%;
}

.upFooter .about h3 {
  padding-bottom: 15px;
}

.upFooter .about ul li {
  padding-bottom: 10px;
}

.upFooter .contact {
  width: 20%;
}

.upFooter .contact h3 {
  padding-bottom: 15px;
}

.upFooter .contact ul li {
  padding-bottom: 20px;
}

.socialIcons {
  width: 12%;
  align-self: flex-end;
}

.line {
  border-bottom: 0.8px solid #d2d2d2;
}

.copyright {
  font-size: 13px;
  padding: 40px;
  text-align: center;
  align-self: center;
}
