.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.rubik-medium {
  font-family: "rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
}

*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: ease-in-out 200ms; /*adiciona suavidade nas alterações*/
}

body {
  background: #39289f;
  background-image: linear-gradient(0px #39289f 0%, #422f9c 100%);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: white;
}

.logo {
  font-size: 29px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 95px;
  width: 100%;
  height: 12vh;
  position: fixed;
  background-color: linear-gradient(#39289f, #39289f);
  z-index: 1;
}

header > div {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 70px;
}

.headerOptions {
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 16px;
  gap: 80px;
  position: relative;
}

.headerOptions .underBar {
  position: absolute;
  content: "";
  width: 31px;
  height: 4px;
  background-color: #dc7000;
  bottom: 0;
  transform: translate(-6px, 14px);
}

.contactUs {
  padding: 11px 30px;
  border-radius: 6px;
  background-color: #fa9021;
  font-size: 13px;
  color: white;
  border: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 129px;
}

section {
  padding: 0 10%;
}

.introduction {
  display: flex;
}

.text1 {
  margin-top: 24vh;
  width: 50%;
  padding-bottom: 10vh;
}

.prodesigner {
  font-size: 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #e87d0e;
  padding-bottom: 17px;
}

h2 {
  font-size: 50px;
  padding-bottom: 26px;
}

.legend1 {
  line-height: 200%;
  font-size: 16px;
  padding-bottom: 50px;
}

.btnDetails {
  background-image: linear-gradient(to bottom right, #fa8305 0%, #fb9e3c 100%);
  padding: 15px 30px;
  text-align: center;
  border: none;
  background-size: 200% auto;
  color: white;
  border-radius: 40px;
  font-size: 16px;
}

.images {
  width: 50%;
  position: relative;
}
.images img {
  transform: translate(-50%, -50%);
  position: absolute;
}

.joystick {
  left: 70%;
  top: 50%;
  height: fit-content;
}

.unity {
  left: 7%;
  top: 57%;
}

.cry {
  left: 35%;
  top: 30%;
}

.unreal {
  left: 85%;
  top: 30%;
}

.gameSection {
  display: flex;
  flex-direction: column;
  gap: 57px;
}

.trendingGames {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 31px;
}

.btnGames {
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 30px;
  color: white;
  border: none;
  background-color: rgba(255, 255, 255, 0.11);
}

.galery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}

.galery .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.galery .card > img:hover {
  transform: scale(1.1);
}

.gameTitle {
  display: flex;
  align-items: center;
  gap: 9px;
}

.section3 {
  width: 700px;
  padding-left: 150px;
}

h4 {
  font-size: 30px;
  padding-bottom: 32px;
}

.text2 {
  font-size: 16px;
}

.spiderManSection {
  display: flex;
  flex-direction: column;
  gap: 67px;
}

.spiderManSection h3 {
  align-self: center;
  text-align: center;
  font-size: 35px;
  width: 65%;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 43%;
}

.imageContent {
  width: 100%;
  padding-bottom: 8%;
}

.imageContent .spiderImage {
  width: 100%;
}

.imageContent .dots {
  position: absolute;
  transform: translate(-50%, -43%);
  right: 15%;
  width: 200px;
  z-index: -1;
}
